<div class="instructions-container">
  <div role="button" class="btn btn-info btn-instructions" data-toggle="collapse" data-target="#instructions">View Instructions</div>
  <div id="instructions" class="instructions collapse">
    <p>Provide a city name, state code (US only) and country code. Use ISO 3166 country codes. You can specify the parameter not only in English. In this case, the API response should be returned in the same language as the language of requested location name if the location is in our predefined list of more than 200,000 locations.</p>
  </div>
</div>